#container .list li .adprice {
    font-size: 19px !important;
    color: #333;
}
.product-view p a {
    margin-right: 0px !important;
}
.flexslider .slides img{
    width: 100%;
}
.item-price:before{
    content: none;
}
.item-price,.interested,.tips{
    margin-left: 0% !important;
}
#container .list div.photo img{
    width: 100%;
}
#container .list div.photo{
    width: 20%;
    display: inline-block;
}
#container .list div.dalam{
    width: 75%;
    display: inline-block;
    vertical-align: top;
}
input:read-only{
    background-color: #eee;
}
.list-left{
    width: 100% !important;
}
.list-right{
    width: 100% !important;
}
.post-ad-form textarea{
    height: auto;
}
ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font-size: 15px;
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,1);
}
ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}
.rectangle-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}

.rectangle-list a:hover{
    background: #eee;
}   

.rectangle-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #2d89ef;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list a:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

.rectangle-list a:hover:after{
    left: -.5em;
    border-left-color: #2d89ef;             
}   
.post-ad-form{
	border: 0px;
}
.ui-widget-content{
	margin-top: 0px !important;
}
#SelectProporcao,.col-xs-2{
	display: none !important;
}
.lefted{
	float: left !important;
}
.picture-element-principal{
	width: 120px !important;
	height: 120px !important;
	margin-right: 10px !important;
}
a{
	cursor: pointer !important;
	text-decoration: none !important;
}
.grid_o{
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    padding: 10px !important;
}
.grid_{
    height: 100px;
    position: relative;
    line-height: 100px;
    background-color: #ddd;
    text-align: center;
    font-size: 20pt;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.grid_:hover{
    background-color: #eee;
}
.ui-slider-handle.ui-state-default.ui-corner-all{
    width: 20px !important;
    height: 20px !important;
    border: 5px solid rgba(1, 161, 133, 0.5) !important;
    cursor: col-resize !important;
    top:-7px !important;
    background: #ccc !important;
    margin-left: -10px !important;
}